@page "/"

<PageTitle>Home</PageTitle>
<h1>PhoneTool</h1>

<h5>Design</h5>
<ol>
    <li>By Default the user will have a default profile assigned to them as user John Maxwell</li>
    <li>There will be a dummy image as a profile picture by default</li>
    <li>Only show 2 levels above your level</li>
</ol>

@code {
    
}