@page "/"
@inject PersonModel PersonModel

<PageTitle>Home</PageTitle>
<h1>PhoneTool</h1>

<h5>Design</h5>
<ol>
    <li>By Default the user will have a default profile assigned to them as user John Maxwell</li>
    <li>There will be a dummy image as a profile picture by default</li>
    <li>Only show 2 levels above your level</li>
</ol>

<a href="/person/add" class="btn btn-primary">Add Person</a>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">Organization Hierarchy</h3>
            @if (hierarchy.Any())
            {
                @foreach (var manager in hierarchy)
                {
                    <PersonNodeComponent Node="manager" Level="0" />
                }
            }
            else
            {
                <div class="alert alert-info">
                    No hierarchy data available.
                </div>
            }
        </div>
    </div>
</div>

@code {
    private List<PersonNode> hierarchy;

    protected override async Task OnInitializedAsync()
    {
        hierarchy = PersonModel.GetHierarchyTree();
    }
}
